


.bg{
	background-size: cover!important;
	background-position: center center!important;
	min-height: 450px;
	position: relative;
}

.bg-principal {
	background: url("../images/banner.jpg");
}

.bg-natural{
	background: url("../images/fondo.jpg");
}

.text-primary{
	color: #1a99aa;
}

.sp-top{
	margin-top: 30px;
}

.lg-title {
	text-align: center;
	position: relative;
	letter-spacing: 2px;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: #777;
	font-size: 36px;
}

.lg-title-border::after {
	content: "";
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no-mrs{
	margin: 0;
}

.pds-10{
	padding-left: 10%;
	padding-right: 10%;
}

.h-center {
left: 82%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
width: 35%;
position: absolute;
top: 82%;
}
.social {
	margin-bottom: 40px;
}

.contact-details {
	margin: 40px 0;
}

footer{
	background-color: #C0C0C0;
}

.txt-center{
	text-align: center !important;
}

.background-principal{
	background: url("/MovieTheater/images/fondo2.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}


#navBar .btn {
vertical-align: middle;
position: relative;
margin: 13px;
margin-left: 0px;
line-height: 33px;
background: #707070;
box-shadow: 0 2px 0 #505050;
border-radius: 4px;
color: #ffffff;
display: inline-block;
font: 500 14px/38px Roboto, sans-serif;
height: 37px;
padding: 0px 20px;
font-size: 16px !important;
}

.icon, .icon-small {
position: relative;
}
.btn-icon {
overflow: hidden;
padding-left: 60px;
position: relative;
}

a.btn:hover, button.btn:hover, .btn-whover:hover {
background: #686868 !important;
}


.just-icon{
	width: 40px;

}


.just-icon  > span
{
	top: 9px !important;  
	left: -8px !important;
}


.RegistroForm{

width:100%; height:600px;background-color:white;box-shadow: 15px 15px 5px #000000;margin-top:15px;margin-bottom:25px;
-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

}

 /* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p           (normal)
.jssort01 .p:hover     (normal mouseover)
.jssort01 .pav           (active)
.jssort01 .pav:hover     (active mouseover)
.jssort01 .pdn           (mousedown)
*/
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 260px;
    border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    /*background: url(../img/t01.png) center center;*/
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 200px;
    height: 260px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 260px;
    border: #fff 1px solid;
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(/MovieTheater/images/a17.png) no-repeat;
    overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

.contenido {
border: #fff solid 1px;
border-bottom: #000 solid 1px;
background: #fdfdfd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 0 8px rgba(150,150,150,0.1);
-moz-box-shadow: 0 0 8px rgba(150,150,150,0.1);
box-shadow: 0 0 8px rgba(150,150,150,0.1);
right: 0;
bottom: 0;
left: 0;
margin: 0 auto;
width: 70% !important;
margin-top: 15px;
}



#top-menu {
/* background: #d0033d; */
font-size: 12px;
text-align: center;
width: 50%;
right: 0;
bottom: 0;
left: 0;
margin: 0 auto;
text-align: center;
font-size: 25px;
color: white;
}
.wrapper > li{
	width: 160px !important;
	float: left;
}
	
#top-menu > ul > li > a {

font-weight: 300;
text-decoration: none;
text-transform: uppercase;
color: white;
}

#top-menu > ul {
list-style-type: none;
position: relative;
width: auto;
}
.wrapper {
margin: 0 auto;
padding: 0 19px;
list-style: none;
display: inline;
}

.PeliculaForm{
width: 100%;
background-color:white;box-shadow: 15px 15px 5px #000000;
margin-top:15px;
margin-bottom:25px;
-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#infoPelicula > .form-group{
	padding-left: 40px !important;
	margin-bottom: 5px !important;
}

#infoPelicula{
	text-align: left !important;
	margin-top: 15px;
}

.PeliculaForm h2 {
margin: 0;
text-transform: uppercase;
position: relative;
font-size: 1.2em;
padding: 8px;
background: #0b5ba1;
color: #fff;
}

.salasxPelicula li {
text-align: center;
text-transform: uppercase;
font-family: 'Exo',sans-serif;
font-weight: bold;
font-size: 15px;
margin: 0 3px 3px 0;
padding: 0 10px;
width: auto;
line-height: 19px;
height: 20px;
list-style: none;
display: inline-block;
float: left;
background: #0b5ba1;
border: #333 solid 1px;
color: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
cursor:pointer;
}

.infoSalas{
padding: 25px;
padding-top: 10px;
margin-top: 15px;
text-align: left;
border: 1px solid #D6D6D6;
}